* {
	box-sizing: border-box;
}

:root {
	--col-min-size: calc(100% / 12);
}

html, body {
	font-size: 16px;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.container.fluid {
	max-width: 100%;
	margin: 0 auto;
}

.row {
	display: block;
	width: 100%;
	margin: 0 10px;
}

.row.no-gutters {
	margin: 0;
}

.row::before, .row::after {
	content: '';
	clear: both;
	display: block;
}

[class*="col-"] {
	padding: 0 1%;
	float: left;
}

.col-1 {
	width: calc(var(--col-min-size) * 1);
}

.col-2 {
	width: calc(var(--col-min-size) * 2);
}

.col-3 {
	width: calc(var(--col-min-size) * 3);
}

.col-4 {
	width: calc(var(--col-min-size) * 4);
}

.col-5 {
	width: calc(var(--col-min-size) * 5);
}

.col-6 {
	width: calc(var(--col-min-size) * 6);
}

.col-7 {
	width: calc(var(--col-min-size) * 7);
}

.col-8 {
	width: calc(var(--col-min-size) * 8);
}

.col-9 {
	width: calc(var(--col-min-size) * 9);
}

.col-10 {
	width: calc(var(--col-min-size) * 10);
}

.col-11 {
	width: calc(var(--col-min-size) * 11);
}

.col-12 {
	width: calc(var(--col-min-size) * 12);
}

@media screen and (max-width: 768px) {
	[class*="col-"] {
		width: 50%;
	}
}

@media screen and (max-width: 540px) {
	[class*="col-"] {
		width: 100%;
	}
}