/* Imports */

@import url('https://fonts.googleapis.com/css?family=Thasadith:400,700');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
/* Vars */

:root {
    --font-cursive: 'Sacramento', cursive;
    --font-sans-serif: 'Thasadith', sans-serif;
}

/* Globals */

html, body {
    font-size: 16px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    font-family: var(--font-sans-serif);
}

.clear {
    clear: both;
}

/* Styles */

/* Heading */

header.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/bg.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header.header .container.menu .row {
    font-size: 1.25rem;
    height: 100px;
    line-height: 100px;
    color: white;
    font-weight: lighter;
}

header.header .container.menu .row .brand a {
    font-size: 2.5rem;
    font-family: var(--font-cursive);
    font-weight: lighter;
}

header.header .container.menu .row .brand a {
    color: white;
    text-decoration: none;
}

header.header .container.menu .row .brand a ion-icon {
    position: relative;
    top: 3px;
    left: 15px;
}

header.header .container.menu .row ul li {
    display: inline-block;
}

header.header .container.menu .row ul li a {
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

header.header .container.heading .row .message {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

header.header .container.heading .row h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 2px;
    word-spacing: 6px;
    text-align: center;
    color: white;
}

/* Sobre */

section.sobre .sobre-header {
    text-align: center;
    font-size: 2rem;
    padding: 60px 0;
    letter-spacing: 1px;
}

section.sobre .sobre-header h4 {
    border-bottom: 3px solid #575E26;
    display: inline-block;
    padding-bottom: 10px;
}

section.sobre .img-wrapper img {
    border-radius: 10px;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

section.sobre .img-wrapper img:hover {
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

section.sobre .img-wrapper p.img-label {
    position: relative;
    display: inline-block;
    padding: 10px;
    top: -63px;
    left: -10px;
    color: white;
    font-size: 1.25rem;
    background: rgba(0, 0, 0, 0.8);
}

section.sobre .sobre-btn {
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    text-align: center;
    padding: 60px 0;
    margin-bottom: 60px;
}

section.sobre .sobre-btn a.btn {
    font-size: 1.375rem;
    color: #575E26;
    text-decoration: none;
    padding: 20px 30px;
    border: 3px solid #575E26;
    background: #eeeeee;
}

section.sobre .sobre-btn a.btn:hover {
    background: #ffffff;
}